@media (min-width: 768px){
    .container {
      background-color: white;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px

    }

 }
 .item1{
  background-color: #F5C6D6;
  grid-column: span 4;
    }
    .item2, .item3, .item4, .item5 {
      background-color: #EE2E84;
      grid-column: span 1;
    }
  .item6, .item7 {
    background-color: #85CFD8;
    grid-column: span 2;
  
    }
    .item8 {
      background-color: #8DC63F;
  grid-column: span 3;
    }   
    .item9 {
      background-color:#E76E34 ;
    }
     
    
  .container div{
    height: 100px;
  }
  