
div.navbar-text {
    position: center;
    border: 3px solid #73AD21;
  }
.week4{
    color: darkblue; width: 100px; line-height: 50px; background-position: center; background-color: darkgoldenrod;;
}
.container{
    width: auto;
}