h1 {
    color: darkgreen; font-family: Georgia, 'Times New Roman', Times, serif; 
}
h1, h2 {
   text-align: center; 
}
div {
    line-height: 25px;
}
.transform {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }
    .left {
        float: left;
        padding: 0 20px 20px 0;
       }
     